<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}" dir="{{ .Site.Language.LanguageDirection | default "ltr" }}">
{{- partial "head.html" . -}}

<body>
	{{- partial "header.html" . -}}
	{{ "<!-- preloader start -->" | safeHTML }}
	{{ if .Site.Params.preloader.enable }}
	{{ "<!-- preloader start -->" | safeHTML }}
	<div class="preloader">
		{{ if .Site.Params.preloader.preloader }}
		<img src="{{ .Site.Params.preloader.preloader | absURL }}" alt="preloader">
		{{ end }}
	</div>
	{{ "<!-- preloader end -->" | safeHTML }}
	{{ end }}
	{{ "<!-- preloader end -->" | safeHTML }}
	<div id="content">
		{{- block "main" . }}{{- end }}
	</div>
	{{- partial "footer.html" . -}}

<script type="text/javascript">var $zoho=$zoho || {};$zoho.salesiq = $zoho.salesiq || {widgetcode:"25bd6ed7e364284d03910f4781aa5ef0729b88ce860723fa0b5c52873db420bd", values:{},ready:function(){}};var d=document;s=d.createElement("script");s.type="text/javascript";s.id="zsiqscript";s.defer=true;s.src="https://salesiq.zoho.com/widget";t=d.getElementsByTagName("script")[0];t.parentNode.insertBefore(s,t);</script>
</body>

</html>