{{ $data := index .Site.Data .Site.Language.Lang }}
{{ "<!-- contact -->" | safeHTML }}
<section class="section">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 offset-lg-1 col-md-5">
				<h2 class="section-title">{{ i18n "contact_us" }}</h2>
				<ul class="pl-0">
					{{ "<!-- contact items -->" | safeHTML }}
					{{ with $data.homepage.contact_information }}
					{{ range .contacts }}
					<li class="d-flex mb-30">
						<i class="round-icon mr-3 {{ .icon }}"></i>
						<div class="align-self-center font-primary">
							{{ range .contact }}
							<div class="text-dark" dir="ltr">{{ .contact_item | safeHTML }}</div>
							{{ end }}
						</div>
					</li>
					{{ end }}
					{{ end }}
				</ul>
			</div>
			{{ "<!-- form -->" | safeHTML }}
			<div class="col-lg-6 col-md-7">
				<div class="p-5 rounded box-shadow">
					<form action="{{ .Site.Params.contact_form_action | safeURL }}" method="POST" class="row">
						<div class="col-lg-12">
							<h3 class="mb-4">{{ i18n "contact_form" }}</h3>
						</div>
						<div class="col-lg-6">
							<input type="text" name="name" id="name" class="form-control" placeholder="{{ i18n "name" }}" required>
						</div>
						<div class="col-lg-6">
							<input type="text" name="company" id="company" class="form-control" placeholder="{{ i18n "company" }}" required>
						</div>						
						<div class="col-lg-6">
							<input type="tel" class="form-control" name="phone" id="phone" placeholder="{{ i18n "mobile" }}" pattern="05[0-9]{8}" maxlength="10"  title="05########" required>
						</div>
						<div class="col-lg-6">
							<input type="email" class="form-control" name="email" id="email" placeholder="{{ i18n "email" }}" required>
						</div>
						<div class="col-lg-12">
							<input type="text" name="subject" id="subject" class="form-control" placeholder="{{ i18n "subject" }}" required>
						</div>
						<div class="col-lg-12">
							<textarea class="form-control p-2" name="message" id="message" placeholder="{{ i18n "question" }}" required
								style="height: 150px;"></textarea>
						</div>
						<div class="col-lg-12">
							<button class="btn btn-primary" type="submit">{{ i18n "submit" }}</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
{{ "<!-- /contact -->" | safeHTML }}